html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
    margin: 0;
    padding: 0;
    /*���Ԫ�ص�����߾�*/
}

fieldset,
img,
input,
button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
    /*���滷����*/
}

ul,
ol {
    list-style: none;
}


/*ȥ��ԭ��ʽ�е�С�ڵ�*/

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "miscrosoft yahei";
    /*������Զ�ʶ��*/
}

select,
input {
    vertical-align: middle;
}


/*�����־�����ʾ*/

select,
input,
textarea {
    font-size: 12px;
    margin: 0;
}


/**/

textarea {
    resize: none;
    /*�����������϶�*/
}


/*��ֹ�϶�*/

img {
    border: 0;
    vertical-align: middle;
    /*  ȥ��ͼƬ�ײ�Ĭ�ϵ�3���ؿհ׷�϶*/
}

table {
    border-collapse: collapse;
    /*�ϲ�������*/
}

/* body {
    font: 12px/150% "microsoft yahei", Arial, Verdana, "\5b8b\4f53";
    //unitedCode��д���������д��
    color: #666;
    //150%���ڵ�ǰ����ߴ�İٷֱ��м��
    background: blue;
} */

.clearfix:before,
.clearfix:after {
    /*���������������׼��д��*/
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
    /*IE/7/6*/
    /*����IE6�µ�д��*/
}

a {
    color: #666;
    /*a ��ǩ�ǲ��̳���ɫ ��*/
    text-decoration: none;
}

a:hover {
    color: #C81623;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s,
i,
em {
    /*һ������װ������*/
    font-style: normal;
    /*ȥ��ԭ�е���ʽ*/
    text-decoration: none;
    /*ȥ���»��߻���ɾ����*/
}

.col-red {
    color: #F10215 !important;
    /*������ɫ��*/
}


/*������*/

.w {
    /*���� ��ȡ */
    width: 1200px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.al {
    text-align: left;
}

.ac {
    text-align: center;
}

.ar {
    text-align: right;
}

.hide {
    display: none;
}

.pr {
    position: relative;
}

.pa {
    position: absolute;
}


/*合作top*/

.aboutUs {
    width: 100%;
    height: 550px;
    background: url(../img/workTogether_banner.png);
}

.imgs {
    line-height: 550px;
    float: left;
}

.fonts {
    width: 650px;
    height: 320px;
    float: left;
    margin-left: 160px;
    margin-top: 105px;
    position: relative;
}

.fonts p {
    font-size: 33px;
    line-height: 50px;
    color: #fff;
}

.line {
    float: left;
    width: 650px;
    height: 2px;
    background-color: #ccc;
    position: absolute;
    top: 125px;
}

.fonts span {
    position: absolute;
    /*left: 100px;*/
    top: 179px;
    font-size: 21px;
    line-height: 35px;
    color: #dedede;
}


/*结束*/


/*合作流程*/

.hezuo3 {
    background-color: #fff;
    height: 620px;
    width: 100%;
}

.hezuo3-word {
    height: 620px;
    text-align: center;
}

.hezuo3 .topp1 {
    font-size: 36px;
    line-height: 196px;
    color: #59C1B9;
}

.hezuo3-word .div1,
.hezuo3-word .div2,
.hezuo3-word .div3,
.hezuo3-word .div4,
.hezuo3-word .div5,
.hezuo3-word .div6 {
    float: left;
    width: 180px;
    height: 424px;
}

.hezuo3-word .div1 .img1,
.hezuo3-word .div2 .img1,
.hezuo3-word .div3 .img1,
.hezuo3-word .div4 .img1,
.hezuo3-word .div5 .img1,
.hezuo3-word .div6 .img1 {
    position: absolute;
    top: 150px;
    left: 0;
}

.hezuo3-word .div1 .img11,
.hezuo3-word .div3 .img11,
.hezuo3-word .div5 .img11 {
    position: absolute;
    top: 210px;
    left: 55px;
}

.hezuo3-word .div2 .img11,
.hezuo3-word .div4 .img11,
.hezuo3-word .div6 .img11 {
    position: absolute;
    top: 34px;
    left: 50px;
}

.hezuo3-word .div1 .line2,
.hezuo3-word .div3 .line2,
.hezuo3-word .div5 .line2 {
    position: absolute;
    height: 42px;
    width: 2px;
    top: 169px;
    left: 90px;
    background-color: #59C1B9;
}

.hezuo3-word .div2 .line2,
.hezuo3-word .div4 .line2,
.hezuo3-word .div6 .line2 {
    position: absolute;
    height: 42px;
    width: 2px;
    top: 109px;
    left: 87px;
    background-color: #6CBAE6;
}

.hezuo3-word .div1 p,
.hezuo3-word .div3 p,
.hezuo3-word .div5 p {
    font-size: 20px;
    color: #59C1B9;
    position: absolute;
    top: 295px;
    left: 36px;
}

.hezuo3-word .div2 p,
.hezuo3-word .div4 p,
.hezuo3-word .div6 p {
    font-size: 20px;
    color: #6CBAE6;
    position: absolute;
    top: 0px;
    left: 36px;
}

.hezuo3-word img:hover {
    transform: scale(1.1);
}
.hezuo3-word .div1 {
    margin-left: 55px;
}