/**********��ҳ��ʽ*************/


/*ͷ����ʽ��ʼ */

.header {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 999999;
    left: 0px;
    top: 0px;
    background-color: #fff;
    /*margin-bottom: 80px;*/
}

.header .header-left {
    width: 300px;
    height: 80px;
    float: left;
}

.header .header-left a {
    margin-top: 15px;
    display: block;
}

.header .header-right {
    width: 426px;
    float: right;
}

.header .header-right li {
    height: 80px;
    line-height: 80px;
    padding: 0px 14px 0px 14px;
    margin-left: 56px;
    cursor: pointer;
    float: left;
}

.header .header-right li.current {
    border-top: 3px solid rgb(4, 169, 255);
}

.header .header-right li.current a {
    color: rgb(4, 169, 255);
}

.header .header-right li:hover a {
    color: rgb(4, 169, 255);
}


/*.header .header-right li:first-child {*/


/*}*/


/*.header .header-right li:first-child a {*/


/*color: rgb(4,169,255);*/


/*}*/

.header .header-right li a {
    font-size: 18px;
}


/*ͷ����ʽ���� */


/*�ֲ�ͼ��ʽ��ʼ */

.banner-box {
    width: 100%;
    height: 695px;
    background-color: skyblue;
    margin-top: 80px;
    position: relative;
    clear: both;
    /* overflow: hidden; */
}

.banner-box ul {
    width: 1000%;
    height: 695px;
    position: absolute;
    left: 0;
    top: 0;
}

.banner-box li {
    width: 1903px;
    float: left;
}

.banner-box li .liImg {
    width: 100%;
    height: 695px;
}

.banner-box .banner-index {
    width: 150px;
    height: 30px;
    position: absolute;
    left: 50%;
    bottom: 10px;
    margin-left: -40px;
}

.banner-box .banner-index span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background-color: #fff;
    margin-left: 10px;
}

.banner-box .banner-img #banImg .smallImg {
    width: 180px;
    height: 60px;
    position: absolute;
    left: 875px;
    bottom: 90px;
    /*border:1px solid red;*/
    overflow: hidden;
    /*z-index: 99999;*/
}

.banner-box .banner-img #banImg #smalltwoimg {
    width: 150px;
    height: 160px;
    position: absolute;
    left: 875px;
    color: #666;
    background-color: #fff;
    /*border:1px solid red;*/
    text-align: center;
    bottom: -100px;
    padding: 10px;
    z-index: 9999;
    display: none;
}

.banner-box .banner-img #banImg #smalltwoimg span {
    position: absolute;
    border: 10px solid #fff;
    border-color: transparent transparent #fff transparent;
    left: 70px;
    top: -20px;
}

.banner-box .banner-img #banImg .smallImg a img {
    position: absolute;
    width: 1700px;
    height: 70px;
    left: -770px;
}


/*�ֲ�ͼ��ʽ���� */

.center>p {
    text-align: center;
    font-size: 36px;
    color: rgb(4, 169, 255);
}

.game.center {
    padding: 60px 0 60px 0;
    background: url("../images/index_plat/plat_bg.png") no-repeat center 450px;
    height: 100%;
    margin: 0 auto;
    width: 1200px;
}

.center {
    margin: 0 auto;
    width: 1200px;
}


/* .game .wrap {
    height: 1520px;
    overflow: hidden; 
}  */

.game .wrap img {
    cursor: pointer;
}

.wrap .online {
    text-align: right;
    padding-right: 130px;
    margin-top: -58px;
}

.wrap .account {
    padding-left: 130px;
    margin-top: 25px;
}

.wrap .contact {
    text-align: right;
    margin-top: -30px;
}

.wrap .dianwan .dwIntroduce {
    position: relative;
    top: 150px;
    right: 220px;
    /*display: none;*/
    /*visibility: hidden;*/
    opacity: 0;
}

.wrap .online .onlIntroduce {
    position: relative;
    top: 130px;
    left: 78px;
    /*display: none;*/
    opacity: 0;
}


/*.wrap .online .onlIntroduce:hover{*/


/*display: block !important;*/


/*}*/

.wrap .account .acIntroduce {
    position: relative;
    top: 150px;
    right: 80px;
    /*display: none;*/
    opacity: 0;
}

.wrap .contact .ctIntroduce {
    position: relative;
    top: 150px;
    left: 220px;
    /*display: none;*/
    opacity: 0;
}

.wrap .dianwan .dwImg:hover .dwIntroduce,
.wrap .online .onlIntroduce:hover,
.wrap .account .acIntroduce:hover,
.wrap .contact .ctIntroduce:hover {
    display: block;
}

.wrap .dianwan .dwIntroduce div {
    width: 300px;
    height: 200px;
    color: #333;
    background-color: #fff;
    border: 1px solid rgb(4, 169, 255);
    border-radius: 4px;
    box-shadow: -5px 5px 10px 5px rgb(201, 239, 236);
    line-height: 30px;
    font-size: 16px;
    margin-top: -100px;
    padding: 20px 20px;
    /*margin-left:-50px;*/
    /*position:absolute;*/
}

.wrap .dianwan .dwIntroduce div h3,
.wrap .online .onlIntroduce div h3,
.wrap .contact .ctIntroduce div h3 {
    text-align: left;
    font-size: 24px;
    margin-bottom: 10px;
}

.wrap .online .onlIntroduce div {
    width: 300px;
    height: 150px;
    color: #333;
    background-color: #fff;
    border: 1px solid rgb(4, 169, 255);
    border-radius: 4px;
    box-shadow: -5px 5px 10px 5px rgb(201, 239, 236);
    position: relative;
    line-height: 30px;
    font-size: 16px;
    padding: 20px 20px;
    margin-top: -20px;
    left: 80px;
    text-align: left;
}

.wrap .account .acIntroduce div {
    width: 300px;
    height: 100px;
    color: #333;
    background-color: #fff;
    border: 1px solid rgb(4, 169, 255);
    border-radius: 4px;
    box-shadow: -5px 5px 10px 5px rgb(201, 239, 236);
    line-height: 30px;
    font-size: 16px;
    margin-top: -80px;
    padding: 20px 20px;
}

.wrap .contact .ctIntroduce div {
    width: 300px;
    height: 170px;
    color: #333;
    background-color: #fff;
    border: 1px solid rgb(4, 169, 255);
    border-radius: 4px;
    box-shadow: -5px 5px 10px 5px rgb(201, 239, 236);
    line-height: 30px;
    font-size: 16px;
    margin-top: -80px;
    padding: 20px 20px;
    text-align: left;
}

.disp {
    display: block;
}


/* //底部 */

.index_parter {
    background-color: #ededed;
    /*background : url("../images/53.gif") ;*/
    padding-bottom: 70px;
}

.index_parter p {
    font-size: 36px;
    color: #2bacf6;
    text-align: center;
}

.index_parter .sub_title {
    font-size: 26px;
    color: #2bacf6;
    text-align: center;
    margin-bottom: 60px;
}

.index_parter .midd_con .tu {
    width: 1200px;
    height: 451px;
    /*background-color: red;*/
}

.index_parter .midd_con .tu li a {
    float: left;
    width: 228px;
    height: 100px;
    padding-right: 13px;
    padding-bottom: 18px;
    opacity: 1;
}

.index_parter .midd_con .tu li:nth-child(1) a {
    background: url("../images/index_partner/index_all_parter.png");
    /*padding-right: 14px;*/
    /*padding-bottom: 18px;*/
}

.index_parter .midd_con .tu li:nth-child(2) a {
    background: url("../images/index_partner/index_all_parter.png") -244px 0;
    /*padding-right: 14px;*/
    /*padding-bottom: 18px;*/
}

.index_parter .midd_con .tu li:nth-child(3) a {
    background: url("../images/index_partner/index_all_parter.png") -484px 0;
    /*padding-right: 14px;*/
    /*padding-bottom: 18px;*/
}

.index_parter .midd_con .tu li:nth-child(4) a {
    background: url("../images/index_partner/index_all_parter.png") -728px 0;
    /*padding-right: 14px;*/
}

.index_parter .midd_con .tu li:nth-child(5) a {
    background: url("../images/index_partner/index_all_parter.png") -972px 0;
    padding-right: 0px;
}

.index_parter .midd_con .tu li:nth-child(6) a {
    background: url("../images/index_partner/index_all_parter.png") 0 -112px;
    /*padding-right: 10px;*/
}

.index_parter .midd_con .tu li:nth-child(7) a {
    background: url("../images/index_partner/index_all_parter.png") -244px -112px;
    /*padding-right: 10px;*/
}

.index_parter .midd_con .tu li:nth-child(8) a {
    background: url("../images/index_partner/index_all_parter.png") -484px -112px;
    /*padding-right: 10px;*/
}

.index_parter .midd_con .tu li:nth-child(9) a {
    background: url("../images/index_partner/index_all_parter.png") -728px -112px;
    /*padding-right: 10px;*/
}

.index_parter .midd_con .tu li:nth-child(10) a {
    background: url("../images/index_partner/index_all_parter.png") -972px -112px;
    padding-right: 0px;
}

.index_parter .midd_con .tu li:nth-child(11) a {
    background: url("../images/index_partner/index_all_parter.png") 0 -232px;
    /*padding-right: 10px;*/
}

.index_parter .midd_con .tu li:nth-child(12) a {
    background: url("../images/index_partner/index_all_parter.png") -244px -232px;
    /*padding-right: 10px;*/
}

.index_parter .midd_con .tu li:nth-child(13) a {
    background: url("../images/index_partner/index_all_parter.png") -484px -232px;
    /*padding-right: 10px;*/
}

.index_parter .midd_con .tu li:nth-child(14) a {
    background: url("../images/index_partner/index_all_parter.png") -728px -232px;
    /*padding-right: 10px;*/
}

.index_parter .midd_con .tu li:nth-child(15) a {
    background: url("../images/index_partner/index_all_parter.png") -972px -232px;
    padding-right: 0px;
}

.index_parter .midd_con .tu li:nth-child(16) a {
    background: url("../images/index_partner/index_all_parter.png") 0 -350px;
    padding-bottom: 0px;
}

.index_parter .midd_con .tu li:nth-child(17) a {
    background: url("../images/index_partner/index_all_parter.png") -244px -350px;
    padding-bottom: 0px;
}

.index_parter .midd_con .tu li:nth-child(18) a {
    background: url("../images/index_partner/index_all_parter.png") -484px -350px;
    padding-bottom: 0px;
}

.index_parter .midd_con .tu li:nth-child(19) a {
    background: url("../images/index_partner/index_all_parter.png") -728px -350px;
    padding-bottom: 0px;
}

.index_parter .midd_con .tu li:nth-child(20) a {
    background: url("../images/index_partner/index_all_parter.png") -972px -350px;
    padding-bottom: 0px;
    padding-right: 0px;
    opacity: 1;
}


/*************index_parter����********************/


/*************footer��ʼ********************/

.footer {
    background-color: #2bacf6;
    padding-bottom: 20px;
    /*margin-top: 80px;*/
    text-align: center;
}

.footer .footer_con {
    /*margin-left: 190px;*/
    padding-top: 50px;
    margin: auto;
    position: relative;
    margin-bottom: 40px;
    /*margin-top: 50px;*/
    /*height: 101px;*/
}

.footer .footer_con ul {
    color: white;
}

.footer .footer_con ul li {
    float: left;
    /*padding-left: 100px;*/
    font-size: 18px;
    border: 1px solid white;
    border-radius: 5px;
    width: 120px;
    line-height: 35px;
    margin: 0 50px 0 175px;
    position: relative;
    /*position: absolute;*/
}

.footer .footer_con li img {
    position: absolute;
    margin-top: -140px;
}

.footer .footer_con li:hover {
    background-color: white;
}

.footer .footer_con ul li a {
    color: white;
}

.footer .footer_con li:hover a {
    color: #2bacf6;
}


/*.footer .footer_con .aborder {*/


/**/


/*}*/

.footer .footer_con ul i {
    float: left;
    height: 70px;
    border-left: 1px dashed #95d6fb;
    /*margin-bottom: 5px;*/
    position: absolute;
    top: 30px;
    /*padding: 0;*/
}

.footer .footer_con .link1 {
    left: 392px;
}

.footer .footer_con .link2 {
    left: 786px;
}

.footer .beian .f1 {
    font-size: 14px;
    padding-right: 100px;
    /*margin: auto;*/
}

.footer .dome {
    position: relative;
    overflow: hidden;
    height: 15px;
    width: 50%;
    margin: 50px auto;
    color: white;
}

.footer .dome #dome1 {
    position: absolute;
    left: 0px;
}